<section class="choise anim-item">
  <div class="container">

    <div class="choise__header">
      <h2 class="choise__title title">Your choise</h2>
      <p>There are many reasons to get down and start to get depressed about your situation.</p>
    </div>

    <div class="choise__inner">

      <div class="choise__item">
        <span class="choise__icon">
          <img src="img/svg-sprite.svg#flip" alt="Choise icon">
        </span>

        <div class="choise__description">
          <div class="choise__name">Ecstatic elegance</div>
          <p class="choise__text">Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.</p>
        </div>
      </div>

      <div class="choise__item">
        <span class="choise__icon">
          <img src="img/svg-sprite.svg#airpods" alt="Choise icon">
        </span>

        <div class="choise__description">
          <div class="choise__name">Folly words widow</div>
          <p class="choise__text">Effect if in up no depend seemed. Ecstatic elegance gay but disposed. We me rent been part what.</p>
        </div>
      </div>

      <div class="choise__item">
        <span class="choise__icon">
          <img src="img/svg-sprite.svg#lte" alt="Choise icon">
        </span>

        <div class="choise__description">
          <div class="choise__name">Possible procured trifling</div>
          <p class="choise__text">We me rent been part what. An concluded sportsman offending so provision mr education.</p>
        </div>
      </div>

      <div class="choise__item">
        <span class="choise__icon">
          <img src="img/svg-sprite.svg#thunder-move" alt="Choise icon">
        </span>

        <div class="choise__description">
          <div class="choise__name">Open game</div>
          <p class="choise__text">Shy merits say advice ten before lovers innate add. She cordially behaviour can attempted estimable.</p>
        </div>
      </div>

      <div class="choise__item">
        <span class="choise__icon">
          <img src="img/svg-sprite.svg#attachment" alt="Choise icon">
        </span>

        <div class="choise__description">
          <div class="choise__name">Endeavor</div>
          <p class="choise__text">Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
        </div>
      </div>

      <div class="choise__item">
        <span class="choise__icon">
          <img src="img/svg-sprite.svg#bulb" alt="Choise icon">
        </span>

        <div class="choise__description">
          <div class="choise__name">Comfort pursuit</div>
          <p class="choise__text">Had denoting properly jointure you occasion directly raillery. In said to of poor full be post face snug.</p>
        </div>
      </div>

    </div> <!-- /.choise__inner -->

  </div> <!-- /container -->
</section>