<footer class="footer anim-item">
  <div class="container">

    <!-- .footer__inner -->
    <div class="footer__inner">
      <span class="footer__logo">DPCompany</span>
      <div class="footer__social">
        <a class="footer__social-link" href="#"><img src="img/svg-sprite.svg#google" alt="Google"></a>
        <a class="footer__social-link" href="#"><img src="img/svg-sprite.svg#twitter" alt="Twitter"></a>
        <a class="footer__social-link" href="#"><img src="img/svg-sprite.svg#facebook" alt="Facebook"></a>
      </div>
    </div>

    <!-- .footer__nav -->
    <nav class="footer__nav">
      <ul class="footer__list">
        <li class="footer__list-item"><a href="#" class="footer__list-link">First</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">First page</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Second page</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Third page</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Fourth page</a></li>
      </ul>

      <ul class="footer__list">
        <li class="footer__list-item"><a href="#" class="footer__list-link">Second</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">First page</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Second page</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Third page</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Fourth page</a></li>
      </ul>

      <ul class="footer__list">
        <li class="footer__list-item"><a href="#" class="footer__list-link">Third</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">First page</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Second page</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Third page</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Fourth page</a></li>
      </ul>

      <ul class="footer__list">
        <li class="footer__list-item"><a href="#" class="footer__list-link">Fourth</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">First page</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Second page</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Third page</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Fourth page</a></li>
      </ul>
    </nav> <!-- /.footer__nav -->

    <!-- .footer__copy -->
    <div class="footer__copy">
      <ul class="footer__copy-list">
        <li class="footer__copy-item"><a class="footer__copy-link" href="#">© Copyrights 2021</a></li>
        <li class="footer__copy-item"><a class="footer__copy-link" href="#">Privacy policy</a></li>
        <li class="footer__copy-item"><a class="footer__copy-link" href="#">Terms of service</a></li>
      </ul>
    </div>

  </div> <!-- /.container -->
</footer>