<header class="header anim-item">
  <div class="header__container container">
    <div class="header__inner">

      <!-- .header__logo -->
      <span class="header__logo">Logo</span>

      <!-- .header__menu -->
      <nav class="header__menu">
        <ul class="header__list">
          <li class="header__list-item"><a href="#" class="header__list-link">about</a></li>
          <li class="header__list-item"><a href="#" class="header__list-link">gallery</a></li>
          <li class="header__list-item"><a href="#" class="header__list-link">pricing</a></li>
          <li class="header__list-item"><a href="#" class="header__list-link">faq</a></li>
          <li class="header__list-item"><a href="#" class="header__list-link">benefits</a></li>
        </ul>
      </nav>

      <!-- .header__buttons -->
      <div class="header__buttons" data-da=".header__menu, 575, 1">
        <button class="button button--small button--transparent" type="button">sign in</button>
        <button class="button button--small" type="button">sign up</button>
      </div>

      <!-- .hamburger -->
      <button class="hamburger hamburger--emphatic" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

    </div> <!-- /.header__inner -->
  </div> <!-- /.container -->
</header>