<section class="invest anim-item">
  <div class="container">
    <div class="invest__inner">

      <div class="invest__item-1">
        <h2 class="invest__title title">Invest property for<br>better <span>business</span></h2>
        <p class="invest__text">We are committed to processing the information in order to contact you and talk about your project. We are committed to processing the information.</p>

        <button class="button" type="button">Learn More</button>
      </div> <!-- /.invest__item-1 -->

      <div class="invest__item-2">
        <!-- .invest__card -->
        <div class="invest__card">
          <div class="invest__card-image">
            <img src="img/invest/invest__card.jpg" alt="Invest Card">
          </div>

          <div class="invest__card-body">
            <div class="invest__card-name">Omah mukti residence</div>
            <div class="invest__card-text">Merpati sidomuncul 26 street, UK</div>
            <div class="invest__card-sum">$176,000</div>
            <div class="invest__card-sum-name">funding request</div>

            <div class="invest__card-stats">
              <div class="invest__card-item">13%<span>Apr</span></div>
              <div class="invest__card-item">68%<span>Ltv</span></div>
              <div class="invest__card-item">12 mth<span>Loan</span></div>
            </div>
          </div>

          <div class="invest__card-month">6 month<span>increase 12%</span></div>
        </div> <!-- /.invest__card -->
      </div> <!-- /.invest__item-2 -->

    </div> <!-- /.invest__inner -->
  </div> <!-- /.container -->
</section>