<section class="reasons anim-item">
  <div class="reasons__container container">
    <div class="reasons__body">

      <!-- .title -->
      <h1 class="reasons__title title title--main">Many reasons to get up and start to get back in the business</h1>

      <!-- .reasons__text -->
      <p class="reasons__text">The harder you work for something, the greater you’ll feel when you achieve it.</p>

      <!-- .reasons__buttons -->
      <div class="reasons__buttons">
        <button class="button" type="button">Learn More</button>
        <button class="button button--transparent" type="button">Demo</button>
      </div>

      <!-- .reasons__preview -->
      <div class="reasons__preview">
        <div class="reasons__video">
          <span>Play button</span>
        </div>

        <div class="reasons__description">
          <p class="reasons__preview-text">The harder you work for something, the greater you’ll feel when you achieve it.</p>
          <a class="reasons__watch" href="#">Watch preview</a>
        </div>
      </div>

      <!-- .reasons__modal -->
      <div class="reasons__modal">
        <div class="reasons__modal-video">
          <iframe class="reasons__modal-iframe" src="https://www.youtube.com/embed/bbcsz8sb7Cg" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

    </div> <!-- /.reasons__body -->
  </div> <!-- /.container -->
</section>