<section class="traffic anim-item">
  <div class="container">
    <div class="traffic__inner">

      <div class="traffic__item-1">
        <h2 class="traffic__title title">Increase your<br>business <span>traffic</span></h2>
        <p class="traffic__text">We are committed to processing the information in order to contact you and talk about your project.</p>

        <button class="button" type="button">Learn More</button>
      </div>

      <div class="traffic__item-2">
        <div class="traffic__stats">
          <div class="traffic__chart">
            <div class="traffic__chart-inner">
              <span class="traffic__chart-name">Overview</span>
              <span class="traffic__chart-month">Last 5 month</span>
            </div>

            <img src="img/traffic/traffic__chart.svg" alt="Traffic chart">
          </div>

          <img class="traffic__image img-fluid" src="img/traffic/traffic.jpg" alt="Traffic image">
        </div>
      </div>

    </div> <!-- /.traffic__inner -->
  </div> <!-- /.container -->
</section>